@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

@font-face {
    font-family: "logo-font";
    font-weight: bold;
    src: url("logo-font.otf") format("opentype");
}

:root{
    --background: #2D3142;
    --icon-color: #4F5D75;
    --icon-color-light: #738095;
    --card-background: #F4F7F5;
    --text-color: #2D3142;
    --red: #FF6B6B;
    --yellow: #D19C1D;

    --padding: 8px;
    --padding-min: 4px;
}

html{
    background-color: var(--background);
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

#grid-container{
    display: grid;
    grid-gap: 1.5rem;
    padding: calc(var(--padding) * 2);
    grid-template-rows:   1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
                        "card1 card2 card3 card4"
                        "card5 card6 card7 card8"
                        "card9 card10 card11 card12"
    ;
}

#header{
    background: var(--icon-color);
    background: var(--card-background);
    padding: var(--padding);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-left, #nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-right a{
    font-weight: 400;
    font-size: 1.6rem;
    padding: var(--padding);
}

#nav-right i{
    font-weight: 600;
    font-size: 2.4rem;
}

#nav-right a:link, #nav-right a:visited{
    color: var(--icon-color);
}

#nav-right a:hover, #nav-right a:active{
    color: var(--icon-color-light);
}

.logo{
    font-family: "logo-font", cursive, serif, sans-serif;
    font-size: 4.8rem;
    padding: var(--padding);
    color: var(--background);
}

#hero{
    position: relative;
}

.hero-img{
    width: 100%;
    max-height: 512px;
    object-fit: cover;
    border-radius: 8px;
}

.overlay{
        /* Position */
        left: 0;
        position: absolute;
        top: 0;
    
        /* Take full size */
        height: 100%;
        width: 100%;
        border-radius: 8px;
        padding-bottom: 2.25px;
    
        /* Center the content */
        align-items: center;
        display: flex;
        justify-content: space-between;
}

.overlay-icons{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.overlay-icon-left, .overlay-icon-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.overlay-icon-left{
    border-radius: 8px 0px 0px 8px;
}

.overlay-icon-right{
    border-radius: 0px 8px 8px 0px;
}

i.overlay-icon{
    display: flex;
    align-items: center;
    font-size: 8rem;
    color: var(--icon-color);
    height: 100%;
    font-size: 8rem;
    background-color: rgba(0, 0, 0, 0.75);
}

i.overlay-icon:hover{
    color: var(--icon-color-light);
}

i.bi-caret-left-fill{
    border-radius: 8px 0px 0px 8px;
}

i.bi-caret-right-fill{
    border-radius: 0px 8px 8px 0px;
}

#card1{ grid-area: card1; }
#card2{ grid-area: card2; }
#card3{ grid-area: card3; }
#card4{ grid-area: card4; }
#card5{ grid-area: card5; }
#card6{ grid-area: card6; }
#card7{ grid-area: card7; }
#card8{ grid-area: card8; }
#card9{ grid-area: card9; }
#card10{ grid-area: card10; }
#card11{ grid-area: card11; }
#card12{ grid-area: card12; }

#footer{
    background: var(--icon-color);
    background: var(--card-background);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
}


/* Media queries */

.mobile{
    display: none;
}

@media screen and (max-width: 1678px) {
    #grid-container {
        grid-template-rows:   1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
                            "card1 card2 card3"
                            "card4 card5 card6"
                            "card7 card8 card9"
                            "card10 card11 card12"
        ;
    }
  }
  @media screen and (max-width: 1262px) {
    #grid-container {
        grid-template-rows:   1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                            "card1 card2"
                            "card3 card4"
                            "card5 card6"
                            "card7 card8"
                            "card9 card10"
                            "card11 card12"
        ;
    }
  }
  @media screen and (max-width: 846px) {
    #grid-container {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
                            "card1"
                            "card2"
                            "card3"
                            "card4"
                            "card5"
                            "card6"
                            "card7"
                            "card8"
                            "card9"
                            "card10"
                            "card11"
                            "card12"
        ;
    }

    .desktop{ display: none;}
    .mobile{ display: inherit;}

  }